.car-dialog-container {
  // width: 370px;
  width: 100%;
}

.mat-dialog-content {
  width: 100%;
  // height: 500px;
  // max-height: 60%;
}

button {
  width: 120px;
}














.cancel-btn {}
.mat-form-field {
  width: 100%;
}



.exist-message {
  color: red;
}


.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-hint {
  color: red;
}

