<form class="filter-component">
  <mat-form-field>
    <mat-label>Filter car</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      type="text"
      #filterInput
      placeholder="Filter"
      (input)="search(filterInput.value)"
      [ngModelOptions]="{ standalone: true }"
    />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetValue()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
