<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav-menu">
    <div class="nav-button-container">
      <button
        mat-button
        class="nav-button-text"
        routerLink="/home"
        routerLinkActive="activebutton"
      >
        <mat-icon class="nav-icon" aria-label="Home icon" [inline]="true"
          >home</mat-icon
        >
        <p>Home</p>
      </button>
    </div>

    <div class="nav-button-container">
      <button
        mat-button
        class="nav-button-text"
        routerLink="/cars"
        routerLinkActive="activebutton"
      >
        <mat-icon class="nav-icon" aria-label="Car icon" [inline]="true"
          >directions_car</mat-icon
        >
        <p>Cars</p>
      </button>
    </div>

    <div class="nav-button-container">
      <button
        mat-button
        class="nav-button-text"
        routerLink="/dealers"
        routerLinkActive="activebutton"
      >
        <mat-icon class="nav-icon" aria-label="Star icon" [inline]="true"
          >stars</mat-icon
        >
        <p>Dealers</p>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
