.sidenav-container{
    background-color: pink;
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;      
}

.sidenav-menu {
    background-color: rgb(87, 39, 87);
    display: flex;
    flex-direction: column;
    width: 50px;
}

// .nav-button-container{
    // padding: 0;
// }

.mat-button{
    padding: 0;
    min-width: 49px;
    // max-width: 50px;
    // outline: 1px solid white;
    // border-right: 3px solid #fff;
}

.mat-icon.mat-icon-inline {
    font-size: 22px;
}

.nav-button-text{
    color: white;
}

.nav-button-text p{
    font-size: 12px;
    line-height: 1;
}

// .mat-button-toggle-appearance-standard {
//     padding: 0;
// }

// .mat-button-toggle-label-content{
//     padding: 0;
// }

// .mat-button-toggle{
//     background-color: transparent;
//     padding: 0;
//     max-width: 50px;
// }
