<section class="cars-settings">
    
    <app-cars-filter *ngIf="!carsCategoryView" (filterValue)="filterCars($event)"></app-cars-filter>
    
    <div class="toggle-div">
        <mat-slide-toggle [(ngModel)]="carsCategoryView">View by category</mat-slide-toggle>
    </div>
    
</section>

<section  *ngIf="!carsCategoryView" class="cars-container">
    <div class="car-card">
        <app-car-item *ngFor='let car of cars' [car]="car" [smallView]="false"></app-car-item>  
    </div>
</section>

<section *ngIf="carsCategoryView" class="cars-category-container">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Coupe">
            <app-car-category></app-car-category>
        </mat-tab>
        <mat-tab label="Roadster">
            <app-car-category></app-car-category>
        </mat-tab>
        <mat-tab label="Sedan">
            <app-car-category></app-car-category>
        </mat-tab>
        <mat-tab label="Offroader">
            <app-car-category></app-car-category>
        </mat-tab>
        <mat-tab label="Pickup truck">
            <app-car-category></app-car-category>
        </mat-tab>
        <mat-tab label="Other">
            <app-car-category></app-car-category>
        </mat-tab>
      </mat-tab-group>
</section>





