.cars-settings{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50px;
    z-index: 2;
}

// .mat-form-field-appearance-legacy,
//  .mat-form-field-infix{
//     padding: 0;
// }


.mat-form-field-appearance-legacy[_ngcontent-ait-c116],
 .mat-form-field-infix[_ngcontent-ait-c116]{
     padding: 0;
 }

.filter-div {
    position: relative;
    top: -50px;
}


.toggle-div{
    
}


.cars-container {
    z-index: 1;

    position: relative;
    top: -50px;
//     display: flex;
//     flex-wrap: wrap;
}

.example-card{
    // max-width: 250px;
    // flex: 0 1 100%;
}

.car-card{
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.ng-star-inserted{
    flex: 0 1 21.5%;
    // align-self: center;
    margin: 40px 0;
}


.mat-tab-group{
    position: absolute;
    left: 50px;
    // top: -50px;
}



