<div class="container">
  <div class="home-column-container">
    <h3>Cars I like</h3>
    <hr />
    <mat-spinner *ngIf="isLoading" class="loading"></mat-spinner>
    <div class="favorite-cars-container">
      <div class="favorite-cars">
        <app-car-item
          *ngFor="let car of cars"
          [car]="car"
          [smallView]="true"
        ></app-car-item>
      </div>
    </div>
  </div>

  <div class="home-column-container">
    <h3>My cars</h3>
    <hr />
  
    <div class="my-added-dealers" *ngIf="newAddedCars.length > 0">
      <mat-list role="list">
        <mat-list-item
          class="dealer-list-item"
          role="listitem"
          *ngFor="let newC of newAddedCars"
          ><p matLine class="dealer-name">
            <strong>{{ newC.model }}</strong>
          </p>
          <div matLine class="dealer-details">
            <span>
              {{ newC.registrationDate | date: "d/M/YYYY" }}
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <p *ngIf="newAddedCars.length === 0 && !isLoading">
      You haven't add any dealer yet
    </p>
  </div>

  <div class="home-column-container">
    <h3>My dealers</h3>
    <hr />

    <div class="my-added-dealers" *ngIf="newAddedDealers.length > 0">
      <mat-list role="list">
        <mat-list-item
          class="dealer-list-item"
          role="listitem"
          *ngFor="let newD of newAddedDealers"
          ><p matLine class="dealer-name">
            <strong>{{ newD.name }}</strong>
          </p>
          <div matLine class="dealer-details">
            <span>
              {{ newD.registrationDate | date: "d/M/YYYY" }}
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <p *ngIf="newAddedDealers.length === 0 && !isLoading">
      You haven't add any dealer yet
    </p>
  </div>

  <div class="home-button-container">
    <button mat-raised-button color="primary" (click)="openCarDialog()">
      Add car
    </button>
    <button mat-raised-button color="primary" (click)="openDealerDialog()">
      Add dealer
    </button>
  </div>
</div>
